.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 280px;
  background-color: #e5e5e58a;

  margin: 30px auto;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 5%;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.description p {
  margin: 0;
}

.avatar {
  display: block;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.name {
  font-size: 16px;
  font-weight: 700;
}
.tag {
  color: #222222d1;
  font-size: 20px;
}
.location {
  color: #222222d1;
  font-size: 20px;
}

.stats {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 25px;
  background-color: rgba(128, 128, 128, 0.63);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  color: #222222d1;
  font-size: 18px;
}
.quantity {
  font-weight: 700;
  font-size: 20px;
  color: black;
}
